# Logs & OS Files
Thumbs.db
Desktop.ini
.DS_Store
*.log

# Temporary test outputs
screenshot.png
shot.png
test_run_shot.png
dom.html
edge_temp*

# Windows PowerShell temporary files
*.tmp

# Environment & Secrets
.env
.env.local
.env.*.local
